html,
body {
  height: 100%;
}

body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family: sans-serif;
}

.main-header {
	padding: 10px;
}

.logo {
	width: 40px;
}

/* Wizard */
.wizard a:hover {
	text-decoration: none;
}

.wizard .audible {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.wizard .steps>ul {
	list-style: none;
	padding-left: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 0;
}

.wizard .steps>ul li {
	width: 275px;
	max-width: calc(25% - 6px);
}

.wizard .steps>ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #ebd8d34f;
	padding: 28px 30px 24px;
}

@media (max-width: 767px) {
	.wizard .steps>ul li a {
		padding: 15px 10px;
	}
}

@media (max-width: 767px) {
	.wizard .steps>ul li a .media {
		display: block;
	}
}

.wizard .steps>ul li .bd-wizard-step-icon {
	width: 34px;
	height: 34px;
	border-radius: 4px;
	background-color: #e1e1e1;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	color: #CF4520;
	margin-right: 11px;
}

@media (max-width: 767px) {
	.wizard .steps>ul li .bd-wizard-step-icon {
		margin: 0 auto;
	}
}

.wizard .steps>ul li .bd-wizard-step-title {
	line-height: 1;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

@media (max-width: 767px) {
	.wizard .steps>ul li .bd-wizard-step-title {
		display: none;
	}
}

.wizard .steps>ul li .bd-wizard-step-subtitle {
	line-height: 1;
	font-size: 14px;
	color: #c8c8c8;
}

@media (max-width: 767px) {
	.wizard .steps>ul li .bd-wizard-step-subtitle {
		display: none;
	}
}

.wizard .steps>ul li.current .bd-wizard-step-icon,
.wizard .steps>ul li.done .bd-wizard-step-icon {
	background-color: #CF4520;
	color: #fff;
}

.wizard .steps>ul li.current a {
	background-color: #fff;
}

.wizard .content {
	padding: 50px 35px 20px 35px;
	background-color: #fff;
	min-height: 420px;
}

@media (max-width: 767px) {
	.wizard .content {
		padding-left: 20px;
		padding-right: 20px;
		min-height: auto;
	}
}

.wizard .content .title {
	display: none;
}

.wizard .content .content-wrapper {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.wizard .content .section-heading {
	font-weight: bold;
	color: #030303;
	margin-bottom: 22px;
}

.wizard .content p {
	font-size: 16px;
	color: #030303;
}

.wizard .content .form-control::-webkit-input-placeholder {
	color: #919aa3;
}

.wizard .content .form-control::-moz-placeholder {
	color: #919aa3;
}

.wizard .content .form-control:-ms-input-placeholder {
	color: #919aa3;
}

.wizard .content .form-control::-ms-input-placeholder {
	color: #919aa3;
}

.wizard .content .form-control::placeholder {
	color: #919aa3;
}

.wizard .actions {
	padding: 0 35px 35px;
	background-color: #fff;
}

@media (max-width: 767px) {
	.wizard .actions {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.wizard .actions>ul {
	list-style: none;
	padding-left: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: end;
	justify-content: flex-end;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	border-bottom: 1px solid #f5f5f4;
}

.wizard .actions li a {
	display: inline-block;
	border-radius: 6px;
	background-color: #ff6434;
	padding: 16px 30px;
	color: #fff;
	font-style: 15px;
	font-weight: bold;
}

.wizard .actions li a:hover{
	background-color: #0069d9;
}

.wizard .actions li.disabled {
	display: none;
}

.wizard .actions li:not(.disabled)+li,
.wizard .actions li:not(:first-child):last-child {
	margin-left: 15px;
}
