/*.header-image {*/
/*display:none;*/
/*}*/
.dropdown-header
{
    font-size: 1.08333333rem;
    font-weight: bold;
}
.o_footer_copyright {
    color:#fff;
    font-family: FedraSansStdLight;
    font-size:14px;
    opacity: 0.86;
    background-color: #716c64;
}
.web-login-background {
    height:100%;
      background-image: url('/isha_crm/static/img/layer-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.web-home-background {
    height:100%;
      background-image: url('/isha_crm/static/img/home_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login-text-box {
    height: 33px;
    font-size: 12px;
    font-family: FedraSansStdBook;
    background-color: #f0eae1;
    border-radius: 5px;
}
.change-password-background {
  background-image: url('/isha_crm/static/img/layer-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Log-in {
  font-family: IshaFont;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.Log-in-sub {
    font-family: FedraSansStdLight;
    text-align:center;
}
.card-login{
    background-color:#fbf9f5;
    border-radius:0;
}
.Sign-in{
    font-family: FedraSansStdMedium;
    width:100%;
    border: 2px solid #d04723;
    color:#d04723;
    border-radius:10px;
    font-size: 0.875rem;
}
.Sign-in:hover{
    background-color: #d04723;
    color: #FFFFFF;
}
.oauth_list_custom{
    background-color:#28a745;
    color:#ffffff;
    font-family: FedraSansStdMedium;

}
.oauth_list_custom:hover{
    background-color: #28A745;
    color: #FFC107;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
@font-face
{
  font-family: "FedraSansStdBold";
  src: url('../fonts/FedraSansStdBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: "FedraSansStdMedium";
  src: url('../fonts/FedraSansStdMedium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: "FedraSansStdBook";
  src: url('../fonts/FedraSansStdBook.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: "FedraSansStdLight";
  src: url('../fonts/FedraSansStdLight.otf');
}

@font-face
{
  font-family: "IshaFont";
  src: url('../fonts/Isha font_0.ttf');
  font-weight: normal;
  font-style: normal;
}