.html-widget {
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 50px;
    border: 1px solid rgba(0,0,0,.3);
}

.o_horizontal_separator {
    text-align: center;
    background: rgba(0,0,0,.1);
    font-weight: bold;
    color: black;
}

.full-width-group > table{
    width: 100%;
}

.small-image > img{
    max-height: 100px !important;
}

.starmark-color > div > button {
    // border-radius: 3px !important;
    height: 15px !important;
    width: 15px !important;
}

//Styling for the tabs for Notebook pages

.nav-tabs .nav-link {
    // color: #fff;
    border-bottom: solid 4px $brand-primary;
    color: $brand-primary;
    font-size: 1.1em;
    border-radius: 3px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    font-weight: bold;
    font-size: 1.12em;
    background: lighten($brand-primary, 20%);
    color: #fff;
}

a.nav-link {
    color: rgba(0,0,0,.5);
}

.ui-menu-item a:hover,.ui-menu-item a:focus {
    color: #fff !important;
}
.ui-autocomplete .ui-menu-item.ui-state-focus a{
    color: #fff !important;
}