/*.header-image {*/
/*display:none;*/
/*}*/
.o_footer_copyright {
    color:#fff;
    font-family: FedraSansStdLight;
    font-size:14px;
    opacity: 0.86;
    background-color: #716c64;
}
.web-login-background {
    height:100%;
      background-image: url('/isha_crm/static/img/layer-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login-text-box {
    height: 54px;
    font-size: 16px;
    font-family: FedraSansStdBook;
    background-color: #f0eae1;
    border-radius: 0;
}
.change-password-background {
  background-image: url('/isha_crm/static/img/layer-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Log-in {
  font-family: IshaFont;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.Log-in-sub {
    font-family: FedraSansStdLight;
    text-align:center;
}
.card-login{
    background-color:#fbf9f5;
    border-radius:0;
}
.Sign-in{
    font-family: FedraSansStdMedium;
    width:100%;
    background-color:#d04723;
    color:#fff;
    border-radius:0;
}
@font-face
{
  font-family: "FedraSansStdBold";
  src: url('../fonts/FedraSansStdBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: "FedraSansStdMedium";
  src: url('../fonts/FedraSansStdMedium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: "FedraSansStdBook";
  src: url('../fonts/FedraSansStdBook.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: "FedraSansStdLight";
  src: url('../fonts/FedraSansStdLight.otf');
}

@font-face
{
  font-family: "IshaFont";
  src: url('../fonts/Isha font_0.ttf');
  font-weight: normal;
  font-style: normal;
}